body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/3_Background/Legacy/Layers/5. Water/L1.png');
    font-family: 'luckiestGuy', Arial, Helvetica, sans-serif;
    font-size: larger;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1{
    text-shadow: -1px 8px 2px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

p{
    color: rgb(71, 71, 71);
}
svg {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    fill: #ffffff;
}

svg:hover {
    fill: #2e2e2e;
    cursor: pointer;
    border-color: #2e2e2e;
}

.settings {
    display: flex;
    width: 720px;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 12px;
}

canvas {
    background-color: black;
    display: block;
    overflow: auto;
    border: 3px solid white;
    border-radius: 2%;
}

.control {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -130px;
    padding-inline: 12px;
}

.control svg {
    height: 48px;
    width: 48px;
}

.move {
    display: flex;
    align-items: center;
    gap: 12px;
}

.up-down {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.attack {
    display: flex;
    gap: 24px;
}

.hiddenElement {
    display: flex;
    position: relative;
    bottom: calc(55px);
    justify-content: center;
}

.hiddenElement img {
    height: 50px;
}

.hiddenElement:hover {
    cursor: pointer;
}

#butStartGame:hover{
    content: url('img/6_Botones/Start/2.png');
}  

#introduction{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    overflow: auto;
    border: 3px solid white;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-timing-function:ease-in-out;
  }

  .slide-in{
    border-radius: 2%;
    animation-name: slide-in;
    animation-duration: 1s;
    top:0px;
    bottom: 0px;
  }
  
  @keyframes slide-in {
    0%   {top:-100vh;}
    100% {top:0px;}
  }

  .slide-out{
    border-radius: 2%;
    animation-name: slide-out;
    animation-duration: 0.5s;
    top:100vh;
  }

  @keyframes slide-out {
    0%   {top:0px;}
    100% {top:100vh;}
  }

#introduction p{
    margin: 20px
}

#introduction img{
    border: 2px solid;
    color: #474747;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    fill: #ffffff;
}

.int-control{
    display: flex;
    justify-content: space-around;
}

.int-control div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.int-control div p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.d-none{
    display: none !important;
}

@font-face {
    font-family: 'luckiestGuy';
    src: url('fonts/luckiestGuy-Regular.ttf') format('truetype');
}

@media only screen and (max-height: 600px) {
    h1 {
        display: none;
    }

    .settings {
        position: absolute;
        top: 0;
    }

    .control {
        display: flex;
    }
}

@media only screen and (max-width: 720px) {
    .settings {
        width: unset;
    }

    canvas {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .control {
        display: flex;
    }
}

@media only screen and ((max-width: 480px) or (max-height: 480px)) {
    canvas {
        height: 100vh;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    .control {
        display: flex;
    }
}

/* @media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .control {
        display: flex;
    }
} */

/* Safari */
:-webkit-full-screen {
    border: none;
    border-radius: 0;
}

/* IE11 syntax */
:-ms-fullscreen {
    border: none;
    border-radius: 0;
}

/* Standard syntax */
:fullscreen {
    border: none;
    border-radius: 0;
}